.gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f29d9b+0,efdbb6+51,cbe8f0+100 */
  background: #f29d9b; /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    #f29d9b 0%,
    #efdbb6 51%,
    #cbe8f0 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    #f29d9b 0%,
    #efdbb6 51%,
    #cbe8f0 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    #f29d9b 0%,
    #efdbb6 51%,
    #cbe8f0 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#f29d9b",
      endColorstr="#cbe8f0",
      GradientType=1
    ); /* IE6-9 fallback on horizontal gradient */
}

.navbar {
  border-bottom: 1px solid #ccc;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 10;
  padding: 10px;
}

.lesson-links {
  font-size: 18px;
  padding: 15px 0;
}

.next {
  float: right;
}

.prev {
  float: left;
}
.lesson p {
  clear: both;
}

.navbar h3 {
  font-size: 14px;
  margin: inherit;
  padding: inherit;
  text-transform: uppercase;
}

.button {
  border-radius: 10px;
  padding: 0;
  background: #0066cc;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.button .icon {
  padding-left: 5px;
  display: inline-block;
}

.button a {
  padding: 3px 8px;
  color: white;
  text-decoration: none;
}

@media (max-width: 1450px) {
  .mobile-hidden {
    display: none;
  }
  .lesson-container {
    padding-top: 65px;
  }
}

.button:hover,
.button a:hover {
  background: #0b48a4;
  color: white;
}

.navbar-brand {
  text-transform: uppercase;
}

.blog-post {
  margin: 15px;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
}

.footer {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  margin: 0;
  margin-top: 20px;
  font-size: 24px;
  padding: 30px;
  overflow: hidden;
  background-color: white;
}